extends ../layouts/default

block main
  h1= post.title.slice(0, 400)

block content
  .row
    .col-md-8
      p=post.description.slice(0, 1000)
      .meta
        - if (post.user)
          - var name = post.user.name ? post.user.name : "unknown"
          p Author :&nbsp;
            span.text-success= name

        p.text-muted= formatDate(post.createdAt, "%b %d, %Y at %I:%M %p")

    //- .col-md-4
    //-   - if (!article.isNew && article.image && article.image.files && article.image.files.length)
    //-     img(src=article.image.cdnUri + '/mini_' + article.image.files[0])

  form(action="/posts/"+post.id, method="post", onsubmit="return confirm('Are you sure?')")
    input(type='hidden', name='_csrf', value=csrf_token)
    a.btn.btn-outline-primary(href='/posts/'+post._id+'/edit', title="edit") Edit
    | &nbsp;
    input(type="hidden", name="_method", value="DELETE")
    button.btn.btn-link.text-danger(type="submit") Delete

  br
  h3 Comments
  each comment, index in post.comments
    div(class=`py-3 ${index && 'border-top'}`)
      include ../postComments/comment
  include ../postComments/form
